@charset "UTF-8";

@font-face {
  font-family: "icomoon";
  src: url('../font/icomoon/icomoon.eot?1466004873') format('embedded-opentype'), url('../font/icomoon/icomoon.woff?1466004873') format('woff'), url('../font/icomoon/icomoon.ttf?1466004873') format('truetype'), url('../font/icomoon/icomoon.svg?1466004873') format('svg');
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', "Roboto", "微軟正黑體", 'Monaco';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.icon-forward:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e0cd";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-mail:before {
  content: "\e904";
}

*, *:after, *:before {
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
*::-moz-selection, *:after::-moz-selection, *:before::-moz-selection {
  color: white;
  background-color: #96c8ff;
}
*::selection, *:after::selection, *:before::selection {
  color: white;
  background-color: #96c8ff;
}

html {
  height: 100%;
}
html body {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0;
  min-width: 100%;
  width: 1000px;
  height: 100%;
  font-size: medium;
  font-family: Monaco, "微軟正黑體", "Microsoft JhengHei";
  background: white;
  color: rgba(50, 50, 50, 0.8);
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
html body header {
  width: 100%;
}
html body header .ta {
  width: 100%;
  height: 165px;
  background-color: #e5e5e5;
  border-top: 3px solid gba(25, 71, 117, 1);
}
html body header .ta .tabox {
  margin: 0 auto;
  width: 1000px;
  *zoom: 1;
}
html body header .ta .tabox:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body header .ta .tabox .logo, html body header .ta .tabox .phone {
  float: left;
  position: relative;
  display: inline-block;
}
html body header .ta .tabox .phone {
  float: right;
}
html body header .ta .tabox .logo {
  width: 70%;
}
html body header .ta .tabox .phone {
  width: calc(100% - 70%);
}
html body header .ta .tabox .logo {
  float: left;
  padding-top: 35px;
}
html body header .ta .tabox .logo img {
  float: left;
  max-width: 100%;
  height: auto;
}
html body header .ta .tabox .phone {
  float: right;
  padding-top: 25px;
  font-weight: bolder;
  color: #010101;
  *zoom: 1;
}
html body header .ta .tabox .phone:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body header .ta .tabox .phone .t01 {
  display: inline-block;
  font-size: 1em;
  float: left;
}
html body header .ta .tabox .phone .t01 img {
  max-width: 100%;
  height: auto;
}
html body header .ta .tabox .phone .t02 {
  display: inline-block;
  font-size: 2em;
  float: left;
  padding-left: 33px;
}
html body header .ta .tabox .phone .t03 {
  display: inline-block;
  font-size: 1.3em;
  float: left;
  padding-left: 35px;
}
html body header .ta .tabox .phone .t04 {
  display: inline-block;
  font-size: 1em;
  float: left;
  padding-left: 35px;
}
html body header .tb {
  width: 100%;
  height: 65px;
  background-color: #194775;
}
html body header .tb .tbbox {
  margin: 0 auto;
  width: 1000px;
  padding: 20px 0;
  *zoom: 1;
}
html body header .tb .tbbox:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body header .tb .tbbox > div {
  float: left;
  width: calc(100% / 8);
  height: 100%;
  text-align: center;
  *zoom: 1;
}
html body header .tb .tbbox > div:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body header .tb .tbbox > div:first-child a {
  border-left: 1px solid white;
}
html body header .tb .tbbox > div:last-child a {
  border-right: 1px solid white;
}
html body header .tb .tbbox > div a {
  float: left;
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
html body header .tb .tbbox > div a:hover {
  color: #cdba35;
}
html body header .tb .tbbox > div a.nh {
  color: #cdba35;
}
html body header .tb .tbbox > div + div a {
  position: relative;
}
html body header .tb .tbbox > div + div a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: white;
}
html body .middle {
  width: 100%;
}
html body .middle .mbox01 {
  margin: 0 auto;
  width: 1000px;
  padding: 45px 0;
}
html body .middle .mbox01 .ybar {
  margin: 0 auto;
  width: 5%;
  height: 3px;
  background-color: #bba623;
}
html body .middle .mbox01 .mt01 {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bolder;
  color: #194675;
  padding: 10px 0;
}
html body .middle .mbox01 .mt02 {
  display: inline-block;
  font-size: 13px;
  color: #5d5e5f;
  line-height: 20px;
}
html body .middle .mbox01 .mt03 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bolder;
  color: #4f5051;
  padding: 15px 0;
}
html body .middle02 {
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url('../img/servicebg.png');
}
html body .middle02 .mbox02 {
  margin: 0 auto;
  width: 1000px;
  padding: 75px 0;
  *zoom: 1;
}
html body .middle02 .mbox02:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body .middle02 .mbox02 > div {
  display: inline-block;
  float: left;
  width: calc(100% / 8);
  *zoom: 1;
}
html body .middle02 .mbox02 > div:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body .middle02 .mbox02 > div .s01 {
  display: inline-block;
  float: left;
  width: 100%;
}
html body .middle02 .mbox02 > div .s01 img {
  display: block;
  margin: 0 auto;
  width: 37px;
  height: 34px;
  margin-bottom: 20px;
}
html body .middle02 .mbox02 > div .s01 span {
  font-size: 1em;
  font-weight: bolder;
  color: white;
}
html body .middle03 {
  width: 100%;
  height: 125px;
}
html body .middle03 .mbox03 {
  margin: 0 auto;
  width: 1000px;
  padding: 20px;
}
html body .middle03 .mbox03 span {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bolder;
  color: #194675;
  padding: 10px 0;
}
html body .middle03 .mbox03 .yb {
  margin: 0 auto;
  width: 5%;
  height: 3px;
  background-color: #bba623;
}
html body .middle04 {
  width: 100%;
  background-color: #f3f3f3;
  padding: 20px 0;
}
html body .middle04 .mbox04 {
  margin: 0 auto;
  width: 1000px;
  *zoom: 1;
}
html body .middle04 .mbox04:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body .middle04 .mbox04 .m04l, html body .middle04 .mbox04 .m04r {
  float: left;
  position: relative;
  display: inline-block;
}
html body .middle04 .mbox04 .m04r {
  float: right;
}
html body .middle04 .mbox04 .m04l {
  width: 33%;
}
html body .middle04 .mbox04 .m04r {
  width: calc(100% - 33%);
}
html body .middle04 .mbox04 .m04l {
  float: left;
}
html body .middle04 .mbox04 .m04l .fbbox {
  width: 100%;
  height: 525px;
  border: 2px solid #409ed1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 10px;
}
html body .middle04 .mbox04 .m04l img {
  margin-top: 15px;
  width: 329px;
  height: 127px;
}
html body .middle04 .mbox04 .m04r {
  float: left;
  padding-left: 20px;
}
html body .middle04 .mbox04 .m04r .newbox {
  width: 100%;
  border-bottom: 1px dotted #6c89a8;
  padding-bottom: 10px;
  margin-bottom: 15px;
  *zoom: 1;
}
html body .middle04 .mbox04 .m04r .newbox:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body .middle04 .mbox04 .m04r .newbox .n01 {
  float: left;
  width: 100%;
  text-align: left;
  border-left: 2px solid #769bcb;
  font-size: .8em;
  font-weight: bolder;
  color: #969696;
  padding: 5px 5px;
}
html body .middle04 .mbox04 .m04r .newbox .n02 {
  float: left;
  width: 100%;
  border-left: 2px solid #bdb579;
  *zoom: 1;
}
html body .middle04 .mbox04 .m04r .newbox .n02:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
html body .middle04 .mbox04 .m04r .newbox .n02 a {
  float: left;
  text-align: left;
  font-weight: bolder;
  font-size: 1em;
  color: #345980;
  padding: 5px 5px;
  text-decoration: none;
}
html body .middle04 .mbox04 .m04r .newbox .n02 a:hover {
  color: #409ed1;
  text-decoration: underline;
}
html body .middle05 {
  width: 100%;
  height: 50px;
  background-color: #6698c9;
  padding: 15px 0;
}
html body .middle05 a {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  color: white;
  font-weight: bolder;
  text-decoration: none;
}
html body .middle05 a:hover {
  text-decoration: underline;
}
html body footer {
  width: 100%;
  height: 125px;
}
html body footer .ft {
  width: 100%;
  height: 80px;
  background-color: #194775;
}
html body footer .ft .ftbox {
  margin: 0 auto;
  width: 1000px;
}
html body footer .ft .ftbox .ft01 {
  width: 100%;
  font-size: 1em;
  font-weight: bolder;
  color: #b9d9f9;
  text-align: left;
  padding: 13px 0;
}
html body footer .ft .ftbox .ft02 {
  float: left;
  display: inline-block;
  font-size: .9em;
  color: white;
  padding-right: 15px;
}
html body footer .ft .ftbox .ft02:before {
  display: inline-block;
  padding-right: 5px;
}
html body footer .ft .ftbox .ft02 a {
  font-size: .8em;
  color: white;
  text-decoration: none;
}
html body footer .ft .ftbox .ft02 a:hover {
  text-decoration: underline;
}
html body footer .fd {
  width: 100%;
  height: 45px;
  padding-top: 15px;
  background-color: #baa623;
}
html body footer .fd span {
  margin: 0 auto;
  width: 1000px;
  font-size: .8em;
  color: white;
}
html body footer .fd a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}
html body footer .fd a:hover {
  text-decoration: underline;
}
